<h1>Book Fetching</h1>

<p>This component demonstrates fetching data from the server.</p>

<form (ngSubmit)="onSubmit()" #isbnForm="ngForm">
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input type="text" class="form-control" id="isbn"
           required
           [(ngModel)]="isbn" name="isbn"
           #name="ngModel">
    <div [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      ISBN is required
    </div>
  </div>

  <button type="button" class="btn" [disabled]="!isbnForm.form.valid" (click)="onSubmit()">Search</button>
</form>

<div>book object{{bookDetail}}</div>
<div>isbn {{bookDetail.bib_key}}</div>
<div>info {{bookDetail.info_url}}</div>
<div>preview {{bookDetail.preview}}</div>
<div>preview url {{bookDetail.preview_url}}</div>
<div>thumbnail {{bookDetail.thumbnail_url}}</div>
